@model IEnumerable<VersionMVC5.Models.Oficina>

@{
    ViewBag.Title = "Index";
}

<h2>Oficina</h2>

<p>
    @Html.ActionLink("Ingresar nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Oficina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel_Oficina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Oficina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel_Oficina)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Oficina }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Oficina }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Oficina })
        </td>
    </tr>
}

</table>
